* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;

}
:root {
    --primary: #85144b;
    --secondary: #7FDBFF;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr;
    grid-template-areas: 
        "title title title title"
        "sidebar current-city current-city current-city"
        "sidebar current-city current-city current-city"
        "sidebar forecast forecast forecast";
    background-color: var(--secondary);
    color: var(--primary);
}
/* Grid distribution start */
header {
    grid-area: title;
    text-align: center;
    font-size: larger;
    
}

#sidebar {
    grid-area: sidebar;
    padding: 10px;
}

#current-city {
    grid-area: current-city;
    padding: 10px;
}

#forecast {
    grid-area: forecast;
    padding: 10px;
}

/* Grid distribution end */
/* Sidebar Styles Start */

/* Sidebar Styles end */

/* Searched City Section Styles */
.info-list{
    list-style-type: none;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

button {
    border-color: var(--primary);
    color: var(--primary);
    margin: 25px;
    border-radius: 25px;
}

.info-list {

}
